{% extends "base.html" %}

{% block title %}About Our Team{% endblock title %}
{% block content %}

<section class="body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 ">Our Team</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">In the ever-evolving landscape of technology, a trio of exceptional talents has emerged, each bringing their unique perspectives and backgrounds to the table. Meet Fuhad, Dion, and Sahil - a dynamic team whose diverse origins have culminated in a synergistic force that is reshaping the digital realm</p>
      </div>
      <div class="flex flex-wrap -m-2">
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-color10 border p-4 rounded-lg bg-color30">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80">
            <div class="flex-grow">
              <h2 class=" title-font font-medium">Fuhad</h2>
              <p class="text-color10">UI Designer</p>
              <p>Born and raised in the bustling city of Wuhan, China. From an early age, he exhibited a keen interest in technology and design, spending countless hours tinkering with computers and exploring the digital realm. After completing his education in computer science, Fuhad embarked on a journey to become a skilled UI (User Interface) developer.</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
          <div class="h-full flex items-center border-color10 border p-4 rounded-lg bg-color30">
            <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84">
            <div class="flex-grow">
              <h2 class=" title-font font-medium">Dion</h2>
              <p class="text-color10">Data Analyst</p>
              <p>Born deep within the lush Amazon rainforest, where he spent his formative years immersed in the rich biodiversity and intricate ecosystems that surrounded him. From an early age, he developed a profound fascination with the intricate patterns and relationships that governed the natural world.Today Dion is recognized as a pioneering data analyst, inspiring others to embrace the power of information</p>
            </div>
          </div>
        </div>
        <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-color10 border p-4 rounded-lg bg-color30">
              <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84">
              <div class="flex-grow">
                <h2 class=" title-font font-medium">Sahil</h2>
                <p class="text-color10">Backend Developer</p>
                <p>Born amid the vast expanses of the Sahara Desert, where the harsh and unforgiving landscape instilled in him a resilience and determination that would shape his future endeavors.Driven by an innate curiosity and a thirst for knowledge, Sahil pursued his studies in computer science, specializing in backend development.Today, Sahil is recognized as a leading backend developer</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock content %}}