{% extends "base.html" %}
{% block title %} {{user.first_name}}'s Dashboard{% endblock title %}
{% block navlinks %}
<a class="mr-8 hover:italic" href="{% url 'dashboard' %}">Home</a>
{% if user.groups.all.0.name == 'librarian' %}
<a class="mr-8 hover:italic" href="{% url 'viewtransactions' %}">Issued Books</a>
{% endif %}
<a class="mr-8 hover:italic" href="{% url 'viewbook' %}">Books</a>
<a class="mr-8 hover:italic" href="{% url 'downloads' %}">Downloads</a>
<button class="inline-flex items  -center bg-color10 text-color60 border-0 py-1 px-3 focus:outline-none hover:italic rounded text-xl mt-4 md:mt-0"><a href="{% url "profile" %}">{{user.username}}</a><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6 ml-1 self-center hover:animate-ping" viewBox="0 0 24 24">
    <path d="M5 12h14M12 5l7 7-7 7"></path>
  </svg>
</button>
{% endblock navlinks %}
{% block content %}
<div class="mx-8">
    <h1 class="text-6xl my-8">Hello {{user.first_name}}</h1>
    <div class="w-4/5 h-64 bg-color30 rounded-xl px-6 py-4 my-8">
        <h1 class="text-3xl mb-4">My Books</h1>
        <ul>
            {% for transaction in issuedbooks %}<li class="text-2xl mb-2">{{transaction.book.title | truncatewords:6}} {% if not transaction.returned_date %} return by {{transaction.due_date}}{% else %} returned, fine: {{transaction.due}}{% endif %}</li>{% endfor %}
        </ul>
    </div>
    {% if user.groups.all.0.name == 'librarian' %}
    <div>
        {{alltransactions}}
        {{allbooks}}
        {{allusers}}
    </div>
    {% else %}
    
    {% endif %}
</div>
{% endblock content %}