{% extends "base.html" %}

{% block title %}dashboard{% endblock title %}
{% block navlinks %}
<a class="mr-5 hover:text-white" href="{% url 'dashboard' %}">home</a>
{% if user.groups.all.0.name == "librarian" %}
<a class="mr-5 hover:text-white" href="{% url 'dashboard' %}">view users</a>
<a class="mr-5 hover:text-white" href="{% url 'viewbooks' %}">manage books</a>
{% else %}
<a class="mr-5 hover:text-white" href="{% url 'viewbooks' %}">view books</a>
<a class="mr-5 hover:text-white" href="{% url 'viewbooks' %}">search books</a>
{% endif %}
<a class="mr-5 hover:text-white" href="{% url 'logout' %}">logout</a>
<button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">{{user.username}}
  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
    <path d="M5 12h14M12 5l7 7-7 7"></path>
  </svg>
</button>
{% endblock navlinks %}
{% block content %}
<h1>
    {% if user.is_authenticated %}
        {% if user.groups.all.0.name == 'librarian' %}
        <h1>Librarian account</h1>
        {% else %}
        <h1>Members account</h1>
        {% endif %}
        <h1>welcome {{user.first_name}}</h1>
    {% endif %}
</h1>
{% endblock content %}