{% extends "base.html" %}

{% block title %} {{user.first_name}}'s Dashboard{% endblock title %}
{% block navlinks %}
<a class="mr-8 hover:italic" href="{% url 'dashboard' %}">Home</a>
{% if user.groups.all.0.name == "librarian"%}
<a class="mr-8 hover:italic" href="{% url 'dashboard' %}">Users</a>
{% endif %}
<a class="mr-8 hover:italic" href="{% url 'viewbook' %}">Books</a>
<a class="mr-8 hover:italic" href="{% url 'downloads' %}">Downloads</a>
<a class="mr-8 hover:italic" href="{% url 'logout' %}">logout</a>
<button class="inline-flex items  -center bg-color10 text-color60 border-0 py-1 px-3 focus:outline-none hover:italic rounded text-xl mt-4 md:mt-0">{{user.username}}
</button>
{% endblock navlinks %}
{% block content %}
    <h1 class="text-6xl">Hello {{user.first_name}}</h1>
    
    <h1 class="text-2xl">{% if user.groups.all.0.name == 'librarian' %}Librarian account{% else %}Members account</h1>
    {% endif %}
{% endblock content %}