{% extends "base.html" %}
{% load static %}
{% block title %}LiVRE-Library Management{% endblock title %}
{% block navlinks %}
{% endblock navlinks %}
{% block content %}
<section class=" body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium">LiVRE- Library Management System</h1>
      <p class="mb-8 leading-relaxed italic text-xl">"Google can bring you back 100,000 answers, a librarian can bring you back the right one." <br>- Neil Gaiman</p>
      <p class="mb-8 leading-relaxed text-xl">In today's fast-paced world, managing a library can be a daunting task. From keeping track of your vast collection to meeting the ever-evolving needs of patrons, the challenges can seem endless. But what if we told you there's a solution that can revolutionize the way you run your library?
        <br>Introducing LiVRE, the ultimate library management system designed to streamline your operations and take your library to new heights.</p>
      <div class="flex justify-center">
        <a href="{% url 'register' %}"><input class="ml-4 inline-flex text-color60 bg-color10 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-lg" type="button" value="Register"></a>
        <a href="{% url 'login' %}"><input class="ml-4 inline-flex text-colortxt bg-color30 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-lg" type="button" value="Login"></a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}