{% extends "base.html" %}
{% block title %}login{% endblock title %}
{% block navcontent %}
<a href="/">home</a>
{% endblock navcontent %}
{% block content %}
<h1>
    Login
</h1>
don't have an account ? <a href="{% url 'register' %}">register</a>

<form method="POST" autocomplete="off">
    {% csrf_token %}

    {{loginform.as_p}}

    <input class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg" href="{% url 'login' %}" type="submit" value="Login">
</form>
{% endblock content %}