{% extends "base.html" %}
{% block title %}Password reset{% endblock title %}
{% block navcontent %}
{% endblock navcontent %}
{% block content %}
<div class="container mx-auto flex justify-center pt-1 sm:pt-8">
    <div class="flex flex-col bg-color30 mx-auto px-8 py-4 rounded">
        <h1 class="text-4xl">Reset Password </h1>
        <p class="text-xl">Enter email below</p>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
        
            {% for field in form %}
                <label for="{{ field.label }}" class="text-xl">{{ field.label }}<span class="text-color10">*</span>:
                <div class="col-md-6 pb-2">
                    {{ field }}
                </div>
            {% endfor %}
        
            <input class="mx-auto inline-flex bg-color10 text-color60 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-lg self-center" type="submit" value="Submit">
            <a class="mx-auto inline-flex bg-color10 text-color60 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-lg self-center " href="{% url "home" %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}