{% extends "base.html" %}
{% block title %}Password reset email{% endblock title %}
{% block navcontent %}
{% endblock navcontent %}
{% block content %}
{% if user.is_authenticated %}
<h1 class="text-2xl">You are already logged in, to reset your password please <a href="{% url "logout" %}" class="text-color10 underline hover:italic">logout</a> first or go <a href="{% url "dashboard" %}" class="text-color10 underline hover:italic">back</a></h1>
{% else %}
<h1 class="text-2xl text-center">
   We have sent you an email with instructions for resetting your password
</h1>
<p class="text-2xl text-center">Please check your email</p>
{% endif %}
{% endblock content %}