{% extends "base.html" %}
{% block title %}register{% endblock title %}
{% block navcontent %}
<a href="/">home</a>
{% endblock navcontent %}
{% block content %}
<h1>new user register</h1>
already have an account ? <a href="{% url 'login' %}">login</a>
<form method="POST" autocomplete="off">
    {% csrf_token %}

    {{registerform.as_p}}
    
    <input class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"  type="submit" value="register">
</form>
{% endblock content %}