{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block navcontent %}
<a href="/">Home</a>
{% endblock navcontent %}
{% block content %}
<div class="container mx-auto flex justify-center">
    <img class="sm:object-cover object-center w-60 rounded-l-lg brightness-150" src="\static\henry-be-TCsCykbwSJw-unsplash (1).jpg" alt="">
    <div class="flex flex-col bg-color30 mx-0 px-8 py-4 rounded-r-lg sm:w-96 justify-self-start">
        <h1 class="text-4xl">Register</h1>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <span class="text-color10">{{registerform.errors}}</span>
            {% for field in registerform %}
                
                <label for="{{ field.label }}" class="text-xl">{{ field.label }}<span class="text-color10">*</span>:
                <div class="col-md-6 pb-2">
                    {{ field }}
                </div>
            {% endfor %}
        
            <input class="mx-auto inline-flex bg-color10 text-color60 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-lg self-center"  type="submit" value="Register">
        </form>
        <p class="text-lg">already have an account ? <a href="{% url 'login' %}" class="text-color10 text-xl hover:italic">Login</a><p>
    </div>
</div>
{% endblock content %}