{% extends "dashboard.html" %}

{% block title %}View books{% endblock title %}
{% block content %}
<h1 class="px-8 pb-4 text-4xl">Books Catalogue</h1>
{% if user.groups.all.0.name == 'librarian' %}
<a href="{% url 'addbook' %}"><input class="ml-8 inline-flex text-color60 bg-color10 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-xl" type="button" value="Add new Book"></a>
<a href="{% url 'viewauthor' %}"><input class="ml-4 inline-flex text-color60 bg-color10 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-xl" type="button" value="Add new Author"></a>
<a href="{% url 'viewpublisher' %}"><input class="ml-4 inline-flex text-color60 bg-color10 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-xl" type="button" value="Add new Publisher"></a>
<a href="{% url 'viewcategory' %}"><input class="ml-4 inline-flex text-color60 bg-color10 border-0 py-2 px-6 focus:outline-none hover:italic rounded text-xl" type="button" value="Add new Category"></a>
{% endif %}
<div class="h-8"></div>
<table class="text-xl pt-8">
    <thead>
        <th class="px-8">Title</th>
        <th class="px-8">Lang</th>
        <th class="px-8">ISBN</th>
    </thead>
    <tbody class="text-2xl">
        {% for book in allbooks %}
            <tr>
                <td class="px-8">{{book.title}}</td>
                <td class="px-8">{{book.language}}</td>
                <td class="px-8">{{book.ISBN}}</td>
                <td class="px-8 text-xl"><a class="mr-8 underline hover:italic" href="{% url "detailviewbook" book.id %}">view more...</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}



