{% extends "base.html" %}
{% block title %}Password reset{% endblock title %}
{% block navcontent %}
<a href="dashboard/">dashboard</a>
{% endblock navcontent %}
{% block content %}
<h1>
   Forgot your password ?
</h1>
<p>enter email below</p>
<form method="POST" autocomplete="off">
    {% csrf_token %}

    {{form.as_p}}

    <input class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg" href="{% url 'login' %}" type="submit" value="reset">
</form>
{% endblock content %}